
.logo{
    max-height: 70px;
    
}

.flexNav {
    display: flex;
    justify-content: space-between;
}

.flexUl {
    display: flex;
    list-style: none;
}

ul.flexUl > li {
    padding: 10px;
}
.titleImage{
    max-width: -webkit-fill-available;
    padding-top: 30px;
}